body {
  background: rgb(5, 40, 63);
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:-100;
}

.user, .form{
  display: none;
}

.showing {
  display:block
}